<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Home:Library Management System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homePage.css}">
</head>
<body>
<header>
    <a th:href="@{/api/logOut/userLogOut}" class="logout-button">Logout</a>
</header>
<div class="container">
<h1>Welcome, <span th:text="${userName}">User</span></h1>
<ul>
    <li>
        <a th:href="@{/api/v1/home/seachBookByNamePage}">Search a Book</a>
    </li>
    <li>
        <a th:href="@{/api/v1/books/findAllBooks}">Show All Books</a>
    </li>
    <li>
        <a th:href="@{/api/v1/home/issueBooksPage}">Issue Book</a>
    </li>
    <li>
        <a th:href="@{/api/v1/home/returnBookPage}">Return Book</a>
    </li>
</ul>
</div>
</body>
</html>