<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Issue Book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/issueBookPage.css}">
</head>
<body>
<header>
    <a th:href="@{/api/logOut/userLogOut}" class="logout-button">Logout</a>
</header>
<h1>Please Enter the book</h1>
<form th:action="@{/api/v1/books/issueBook}" method="post">
    <label for="emailId">Email :</label>
    <input type="text" id="emailId" name="emailId" required>
    <br>
    <label for="book">Book :</label>
    <select id="book" name="book" required>
        <option value="" disabled selected>Select a book</option>
        <option th:each="book : ${bookList}" th:value="${book.name}" th:text="${book.getName()}"></option>
    </select>
    <br>
    <button type="submit">Issue</button>
</form>
</body>
</html>